<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My GOV.UK Service</title>
    <link rel="stylesheet" href="src/main/resources/static/govuk/govuk-frontend.min.css">
    <script src="src/main/resources/static/govuk/govuk-frontend.min.js"></script>
</head>
<body>
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">GOV.UK</span>
                    </span>
                </a>
            </div>
        </div>
    </header>
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Welcome to My GOV.UK Service!</h1>
                <a class="govuk-button" href="#">Start now</a>
            </div>
        </div>
    </main>
</body>
</html>
