<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My GOV.UK Service</title>
    <link rel="stylesheet" href="src/main/resources/static/govuk/govuk-frontend.min.css">
    <script src="src/main/resources/static/govuk/govuk-frontend.min.js"></script>
</head>
<body>
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">GOV.UK</span>
                    </span>
                </a>
            </div>
        </div>
    </header>
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Welcome to My GOV.UK Service!</h1>
                <a class="govuk-button" href="#">Start now</a>
            </div>
        </div>
    </main>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Writing well for the web
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for Writing well for the web.</p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Writing well for specialists
                </span>
            </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for Writing well for specialists.</p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Know your audience
                </span>
                </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for Know your audience.</p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    How people read
                </span>
                </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for How people read.</p>
            </div>
        </div>
    </div>
</body>
</html>
